<div class="jumbotron">
    <div class="container">
      <h1>College Complaints Management System</h1>
      <h2>(Admin Login)</h2>
    </div>
    <div class="container">


      <div class="row">
        <div class="Absolute-Center is-Responsive">
          <div id="logo-container"></div>


          <div class="col-md-40 col-md-50 col-md-offset">
            <form action="" id="adminloginForm" >
              <div class="form-group">
                <select class="form-control input-lg " id="dep" required>
         <option hidden value="dropDown">Select Department</option>
         <option>CSE</option>
         <option>CSIS</option>
         <option>CASE</option>
         <option>BIOINFORMATICS</option>
       </select>
                <br>

                <div class="form-group input-group ">

                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control input-lg" type="text" id="adminid" name='username' placeholder="Enter Email" required />
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input class="form-control input-lg" type="password" id="adminpwd" name='password' placeholder="Enter password" required />
                </div>

                <div class="form-group text-center">

                  <input type="submit" class="btn btn-info"  id="adminLogin" align="center" value="     Log in     ">

                </div>

            </form>
            </div>
          </div>
        </div>
      </div>
    </div>