
  <div class="jumbotron">
    <div class="container">
      <h1>College Complaints Management System</h1>
      <h2>(User Login)</h2>
    </div>
  </div>
  <div class="container">


    <div class="row">
      <div class="Absolute-Center is-Responsive">
        <div id="logo-container"></div>


        <div class="col-md-50 col-md-50 col-md-offset">
          <form action="" id="usrloginForm" >
            <div class="form-group input-group ">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control input-lg" type="text" id="uid" name='username' placeholder="Enter Roll Number" required />
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control input-lg" type="password" id="usrpwd" name='password' placeholder="Enter password"  required/>

            </div>

            <div class="form-group text-center">

              <input type="submit" class="btn btn-info" align="center" value="     Log in     ">

            </div>
            <div class="form-group text-center">
              <span>Not a member yet?</span>
              <a href="#">Sign up</a></br>
              </br>
              <a href="#">I am Admin</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>