<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Complaints Chart</title>
</head>
<body>
<div class="container">
  
  <h3> Select the the type of chart </h3>
  <select id="charts" name="charts">
  <option value="bar"> bar </option>
  <option value="pie"> pie </option>
  <option value="radar"> radar </option>
  <option value="polarArea"> polarArea </option>
  </select>
  <br><br>
  <input id="chrt" type="submit" class="btn btn-info"  value="Apply Changes"> 
  </div>

  <div id=chrtContainer class="container" style="width: 80%; height: 50%;">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    $('input[type="submit"][id="chrt"]').click(function(){
      

      $('#myChart').remove();
      $('#chrtContainer').append('<canvas id="myChart"></canvas>');
      var compChart = document.getElementById('myChart').getContext('2d');
      var chrt = $("select#charts").val();
      console.log(chrt);
      let massPopChart = new Chart(compChart, {
        type:chrt,
        data:{
          labels:  <%- JSON.stringify(dep) %> ,//JSON.stringify(dep)
          datasets:
          [{
            label:'No.of Complaints',
            data:  <%="[" + count +"]"%> 
          }]
        },
        options:{
          scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }

        
      });
  });
  </script>
</body>
</html>
